 <!--INICIO DO CONTEUDO-->
 <section class="content-header">
</section>

<section class="content">
  <section class="invoice">

        <form [formGroup]="orderForm" novalidate>
          <div class="row">
            <div class="col-xs-12">
              <h2 class="page-header">
                <i class="fa fa-shopping-cart"></i> Finalize o seu pedido
              </h2>
            </div>
          </div> 

          <div class="row invoice-info">
            <div class="col-xs-12 col-sm-9">
              <p class="lead">Seus Dados</p>
            </div>
            
            <div class="col-sm-12 col-xs-3">
              <span class="help-block pull-right has-error-block" *ngIf="orderForm.hasError('emailsIsNotMatch')">
                <i class="fa fa-remove"></i> E-mails não conferem</span>
            
            </div>

            <div class="col-sm-6 col-xs-12"> 
              <mt-input-contaner errorMessage="Campo Obrigatorio e minimo de 5 caractere" label="Nome">
                 <input  class="form-control" formControlName="name" autocomplete="off" placeholder="Nome"> 
              </mt-input-contaner>
            </div>
            <div class="col-sm-3 col-xs-6"> 
              <mt-input-contaner errorMessage="E-Mail invalido" label="E-Mail">
                 <input  class="form-control" formControlName="email" autocomplete="off" placeholder="E-Email"> 
              </mt-input-contaner>
            </div>  
            <div class="col-sm-3 col-xs-6"> 
              <mt-input-contaner errorMessage="E-Mail invalido" label="Confirmar E-mail">
                 <input  class="form-control" formControlName="emailConfirmation"  autocomplete="off" placeholder="E-Email"> 
              </mt-input-contaner>
            </div>
          </div>           


          <div class="row invoice-info">
            <div class="col-xs-12">
              <p class="lead">Endereço de Entrega:</p>
            </div>
            <div class="col-sm-6 col-xs-12"> 
              <mt-input-contaner errorMessage="Campo Obrigatorio e minimo de 5 caractere" label="Endereço">
                 <input  class="form-control" formControlName="address" autocomplete="off" placeholder="Endereço"> 
              </mt-input-contaner>
            </div>

            <div class="col-sm-3 col-xs-6">
                <div class="form-group">
                <mt-input-contaner errorMessage="Obrigatorio é so digite numeros" label="Numero"> 
                  <input type="text" class="form-control" formControlName="number"     placeholder="Número" autocomplete="off">
                </mt-input-contaner>
              </div>
            </div>
            <div class="col-sm-3 col-xs-6">
              <div class="form-group">
                <label class="control-label sr-only" for="inputSuccess"><i class="fa fa-check"></i> Complemento</label>
                <mt-input-contaner label="Numero">
                  <input type="text" class="form-control" formControlName="optionalAdress"  placeholder="Complemento">
                </mt-input-contaner>
              </div>

            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->

          

            

          <!-- Table row -->
          <div class="row">
            <div class="col-xs-12">
              <p class="lead">Itens do Pedido:</p>
            </div>
            
            <mt-order-item [items]="cartItems()"
                          (increaseQty)="increaseQty($event)"
                          (drecreaseQty)="decreaseQty($event)"
                          (remove)="remove($event)">

            </mt-order-item>
            <!-- /.col -->
          </div>
          <!-- /.row -->

          <div class="row">
            <!-- accepted payments column -->
            <div class="col-sm-6 col-xs-12">
              <p class="lead">Formas de Pagamento:</p>

                <div class="form-group">
                  <mt-radio [options]="paymentOptions"   formControlName="paymentOption" ngModel ></mt-radio>

                </div>

            </div>
            <!-- /.col -->
            <div class="col-sm-6 col-xs-12">
              <p class="lead">Frete e Total:</p>

              <mt-delivery-cost [delivery]="delivery" [itensValue]="itensValue()">

              </mt-delivery-cost>
            </div>
            <!-- /.col -->
          </div>

        </form>

        <div class="row">
          <div class="col-xs-12">
           <button (click)="checkData(orderForm.value)"  [disabled]="orderForm.invalid || cartItems().lenght ===  0"  class="btn btn-success pull-right"><i class="fa fa-credit-card"></i> Concluir Pedido
            </button>
          </div>
        </div>

    </section>
</section>
<!-- FIM DO CONTEUDO-->